<h2>Usuarios</h2>

<!-- Mostrar tabla solo si tienes acceso -->
<ng-container *ngIf="isAuthorized()">
  <table class="table" *ngIf="users$ | async as users; else loading">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Rol</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.id }}</td>
        <td>{{ u.name }}</td>
        <td>{{ u.lastName }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.phone }}</td>
        <td>{{ u.role }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #loading>
    <p>Cargando usuarios...</p>
  </ng-template>
</ng-container>
